@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(230, 15%, 9%);
  --foreground: hsl(210, 40%, 98%);
  --card: hsl(230, 15%, 12%);
  --card-foreground: hsl(210, 40%, 98%);
  --popover: hsl(230, 15%, 12%);
  --popover-foreground: hsl(210, 40%, 98%);
  --primary: hsl(262, 83%, 58%);
  --primary-foreground: hsl(210, 40%, 98%);
  --secondary: hsl(215, 25%, 27%);
  --secondary-foreground: hsl(210, 40%, 98%);
  --muted: hsl(215, 25%, 27%);
  --muted-foreground: hsl(217, 10%, 65%);
  --accent: hsl(217, 91%, 60%);
  --accent-foreground: hsl(210, 40%, 98%);
  --destructive: hsl(0, 63%, 31%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --border: hsl(215, 25%, 27%);
  --input: hsl(215, 25%, 27%);
  --ring: hsl(262, 83%, 58%);
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 8px;
}

.light {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(210, 25%, 7.8431%);
  --card: hsl(180, 6.6667%, 97.0588%);
  --card-foreground: hsl(210, 25%, 7.8431%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(210, 25%, 7.8431%);
  --primary: hsl(262, 83%, 58%);
  --primary-foreground: hsl(210, 40%, 98%);
  --secondary: hsl(210, 25%, 7.8431%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(240, 1.9608%, 90%);
  --muted-foreground: hsl(210, 25%, 7.8431%);
  --accent: hsl(217, 91%, 60%);
  --accent-foreground: hsl(210, 40%, 98%);
  --destructive: hsl(356.3033, 90.5579%, 54.3137%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(201.4286, 30.4348%, 90.9804%);
  --input: hsl(200, 23.0769%, 97.4510%);
  --ring: hsl(262, 83%, 58%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
